In [1]:
keys = ["Ten", "Twenty", "Thirty"]
values = [10,20,30]

In [2]:
# 2 lists int a dictionary
res= {}

for key in keys:
    for value in values:
        res[key] = value
        values.remove(value)
        break
        
res

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [3]:
# using dcitionary comprehension
keys = ["Ten", "Twenty", "Thirty"]
values = [10,20,30]

res2 = {keys[i]: values[i] for i in range(len(keys))}
res2

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [4]:
dict1={'Ten':10, 'Twenty':20, 'Thirty':30}
dict2={'Forty':40, 'Fifty': 50, 'Sixty':60}

dict1.update(dict2)
print(dict1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Forty': 40, 'Fifty': 50, 'Sixty': 60}

In [5]:
#or
dict1={'Ten':10, 'Twenty':20, 'Thirty':30}
dict2={'Forty':40, 'Fifty': 50, 'Sixty':60}

dict3 ={**dict1, **dict2}
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Forty': 40, 'Fifty': 50, 'Sixty': 60}

In [6]:
sampledict={'class':{'student':{'name':'Mike','marks':{'physics':70,'history':80}}}}

In [7]:
print(sampledict['class']['student']['marks']['history'])

80

In [8]:
employees = ['Kelly','Emma', 'John']
defaults ={'designation':'Application Developer', 'salary':8000}

In [9]:
resdict = dict.fromkeys(employees, defaults)
print(resdict)

{'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 'Emma': {'designation': 'Application Developer', 'salary': 8000}, 'John': {'designation': 'Application Developer', 'salary': 8000}}

In [10]:
print(resdict['Kelly'])

{'designation': 'Application Developer', 'salary': 8000}

In [11]:
#create a new dictionary by extracting from the keys

sampledict= {
    'name':'Kelly',
    'age':25,
    'salary':8000,
    'city':'New York'
}

In [12]:
keys = ["name","salary"] 
newdict = {k:sampledict[k] for k in keys}
print(newdict)

{'name': 'Kelly', 'salary': 8000}

In [13]:
# delete a set of keys from a dictionary
del sampledict['name']
print (sampledict)

{'age': 25, 'salary': 8000, 'city': 'New York'}

In [14]:
del sampledict['salary']
print (sampledict)

{'age': 25, 'city': 'New York'}

In [15]:
# it looks like you have to delete keys one at a time, otherwise there is a problem

In [16]:
sampledict = {'a':100, 'b':200, 'c':300}
print(200 in sampledict.values())

True

In [17]:
sampledict= {
    'name':'Kelly',
    'age':25,
    'salary':8000,
    'city':'New York'
}

In [18]:
sampledict['location'] =sampledict['city']

In [19]:
print(sampledict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'New York', 'location': 'New York'}

In [20]:
sampledict={'Physics':82,'Math':65, 'hisotry':75}

In [21]:
lowest = min(sampledict,key=sampledict.get)
print(lowest,sampledict[lowest])

Math 65

In [22]:
print(lowest)

Math

In [23]:
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}

In [24]:
sampleDict['emp3']['salary'] = 8500
print(sampleDict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}