In [1]:
def func1(*args):
    for i in args:
        print(i)

In [2]:
func1(20,40,60)

20
40
60

In [3]:
func1(80,100)

80
100

In [4]:
def name_age(name, age):
    print("My name is ", name)
    print("I am ", age," years old")

In [5]:
name_age("Mark Kustelski", 49)

My name is  Mark Kustelski
I am  49  years old

In [7]:
def calculation(v1, v2):
    plus = v1 + v2
    minus = v1 - v2
    print(v1, " + ", v2, " = ", plus)
    print(v1, " - ", v2, " = ", minus)

In [9]:
calculation(5,3)

5  +  3  =  8
5  -  3  =  2

In [18]:
def showemployee(name, salary=9000):
    print("Employeed ", name, "s salary is: ", salary )

In [14]:
showemployee('Mark', 9000)

Employeed  Mark s salary is:  9000

In [19]:
showemployee('Mark')

Employeed  Mark s salary is:  9000

In [21]:
def outer(a,b):
    square = a**2
    
    def inner(a,b):
        return a+b
    
    add=inner(a,b)
    return add+5
result = outer(5,10)
print(result)

20

In [41]:
def calculateSum(num):
    if num:
        return num + calculateSum(num-3)
    else:
        return 0

res = calculateSum(12)
print(res)

30

In [42]:
def showstudent(name, age):
    print(name, age)

displaystudent = showstudent

displaystudent('Mark', 49)

Mark 49

In [47]:
print(list(range(4,31,2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [52]:
alist = [4,6,8,24,12,2]

print(max(alist))

24