In [1]:
#reverse a list
alist = [100,200,300,400,500]
alist[::-1]

[500, 400, 300, 200, 100]

In [2]:
#Concatenate 2 lists index-wise
list1= ["M",'na','i', 'Ke']
list2= ['y', "me",'s', 'lly']

In [3]:
res=[i+j for i,j in zip(list1,list2)]
print(res)

['My', 'name', 'is', 'Kelly']

In [4]:
#
alist = [1,2,3,4,5,6,7]

In [5]:
alist = [x**2 for x in alist]
alist

[1, 4, 9, 16, 25, 36, 49]

In [6]:
#Concatenate 2 list in the following order
list1 = ["Hello", "take"]
list2 = ["Dear", "Sir"]
list3=[]
for i in list1:
    for j in list2:
         list3.append(i+ ' ' +j)
print(list3)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [7]:
# or
list4 = [i+j for i in list1 for j in list2]
print(list4)

['HelloDear', 'HelloSir', 'takeDear', 'takeSir']

In [8]:
list1 = [10,20,30,40]
list2 = [100,200,300,400]

for i,j in zip(list1, list2[::-1]):
    print(i,j)

10 400
20 300
30 200
40 100

In [9]:
list1 =["Mike","","Emma", "Kelly","" "Brad"]

In [10]:
list1.remove("")
list1

['Mike', 'Emma', 'Kelly', 'Brad']

In [11]:
# or you could use filter
reslist = list(filter(None,list1))
print(reslist)

['Mike', 'Emma', 'Kelly', 'Brad']

In [12]:
list1 = [10,20,[300,400,[5000,6000],500],30,40]
list1[2][2].append(7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [13]:
list2 =['h', 'i','j']
list1 =['a','b', ['c',['d','e',['f', 'g'],'k'],'l'],'m','n']
list1[2][1][2].extend(list2)
list1

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [14]:
# we had to use the "extend" function, insteaad of append, because append would have 
#added a new list, and we just wanted a current list extended.

In [15]:
list1 = [5,10,15,20,25,50,20]
index = list1.index(20)
list1[index] = 200
print(list1)

[5, 10, 15, 200, 25, 50, 20]

In [16]:
list1 = [5,20,15,20,25,50,50]

def remove_val(saplist, val):
    return[i for i in saplist if i != val]
reslist = remove_val(list1, 20)
reslist

[5, 15, 25, 50, 50]

In [17]:
list1 = [5,20,15,20,25,50,50]

for i in list1:
    if i ==20:
        list1.remove(i)
print(list1)

[5, 15, 25, 50, 50]

In [18]:
list1 = [5,20,15,20,25,50,50]

while 20 in list1:
    list1.remove(20)

In [19]:
list1

[5, 15, 25, 50, 50]