In [1]:
#Define Studen Data

Each record isn [Name, GPA, Year, Instate]

In [21]:
students =[
    ['Harry', 3.5, 3, True],
    ['Ron', 2.7, 2, True],
    ['Hermione', 3.9, 1, False],
    ['Dumbledore', 2.9, 4, True],
    ['Snape', 3.1, 4, False],
]

Anatomy of a List Comprehension:

["returned value" for "item" in "sourse list" if "conditional"]

Goals: Get the name of every student

In [3]:
names = [student[0] for student in students]

In [4]:
names

['Harry', 'Ron', 'Hermione', 'Dumbledore', 'Snape']

Goal: to get the length of the name of each student

In [5]:
name_lengths = [len(student[0]) for student in students]

In [6]:
name_lengths

[5, 3, 8, 10, 5]

Goal: Get the name of every student who is a 4th year

In [7]:
fourth_year_names = [student[0] for student in students if student[2]==4]

In [8]:
fourth_year_names

['Dumbledore', 'Snape']

Goal: Get every 4th year or instate student

In [9]:
Foruth_year_or_instate_names = [student[0] for student in students if (student[2] == 4 or student[3] ==True)]

In [10]:
Foruth_year_or_instate_names

['Harry', 'Ron', 'Dumbledore', 'Snape']

Goal : Get the data type of each piece of data in 'students'

In [12]:
students = [[type(items) for items in student] for student in students]

In [13]:
students

[[str, float, int, bool],
 [str, float, int, bool],
 [str, float, int, bool],
 [str, float, int, bool],
 [str, float, int, bool]]

Goal: Get the square of of each ever integer between 2 and 10

In [17]:
[i**2 for i in range(1,11,2)]

[1, 9, 25, 49, 81]

Goal: "Flatten" the following matrix

In [18]:
n = [[1,2,3],[4,5,6],[7,8,9]]

In [19]:
n

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [20]:
[item for row in n for item in row]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Time Considerations

In [29]:
%%timeit
Foruth_year_or_instate_names = [student[0] for student in students if (student[2] == 4 or student[3] ==True)]

483 ns ± 13.6 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [30]:
%%timeit
fourth_year_or_instate = []
for student in students:
    if (student[2] == 4 or student[3] == True):
        fourth_year_or_instate.append(student)

428 ns ± 8.64 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)