In [3]:
planets =['Mercury', 'Venus', 'Earth', 'Mars', 'Juptuter', 'Saturn','Uranus', 'Neptune']

In [6]:
for planet in planets:
    print(planet)

Mercury
Venus
Earth
Mars
Juptuter
Saturn
Uranus
Neptune

In [12]:
multiplicands = (4,2,2,3,3,5)
product = 1
for multi in multiplicands: 
    product = product * multi
    print(product)

4
8
16
48
144
720

In [15]:
s= 'steganograpHy is the practicE of conceaLing a file, message, image, or video within another fiLe, message, image, Or video.'
msg = ''
for char in s:
    if char.isupper():
        print(char,end=' ')

H E L L O

In [17]:
for i in range(5):
    print('Doing import work. i =', i)

Doing import work. i = 0
Doing import work. i = 1
Doing import work. i = 2
Doing import work. i = 3
Doing import work. i = 4

In [21]:
i = 0
while i < 10:
    print(i,end=' :-D  ')
    i += 1

0 :-D  1 :-D  2 :-D  3 :-D  4 :-D  5 :-D  6 :-D  7 :-D  8 :-D  9 :-D

In [22]:
# list comprehensions

In [28]:
squares = [n**2 for n in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [32]:
#withou list comprehension
squares = []
for n in range(10):
    squares.append(n**2)
    
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [38]:
short_planets = [planet for planet in planets if len(planet) < 7]
short_planets

['Venus', 'Earth', 'Mars', 'Saturn', 'Uranus']

In [40]:
loud_short_planets = [planet.upper()+ '!' for planet in planets if len(planet) <6]
loud_short_planets

['VENUS!', 'EARTH!', 'MARS!']

In [41]:
#the structure of that is similar to SQL with SELECT, FROM, WHERE

In [43]:
def count_negatives(nums):
    n_negative = 0
    for num in nums:
        if num <0:
            n_negative = n_negative +1
    return n_negative

count_negatives([5,-1,-2,0,3])

2

In [46]:
# we can do the same thing by doing
def count_negatives2(nums):
    return len([num for num in nums if num <0])

In [48]:
count_negatives2([5,-1,-2,0,3])

2

In [50]:
#beter still
def count_negatives2(nums):
    return [num < 0 for num in nums]

In [52]:
count_negatives2([5,-1,-2,0,3])

[False, True, True, False, False]

In [53]:
#beter still
def count_negatives2(nums):
    return sum([num < 0 for num in nums])

In [54]:
count_negatives2([5,-1,-2,0,3])

2

In [55]:
help(any)

Help on built-in function any in module builtins:

any(iterable, /)
    Return True if bool(x) is True for any x in the iterable.

    If the iterable is empty, return False.

In [1]:
#some practice

In [6]:
lastnumber = 6
for row in range(1,lastnumber):
    for column in range(1,row+1):
        print (column, end=' ')
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5