In [1]:
for i in range (0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [2]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j, end=' ')
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [3]:
ans = int(input("What is a number?"))

res = 0
for i in range (1,ans + 1,1):
    res += i
print (res)

What is a number? 8

36

In [4]:
n = int(input("What number should I use to make multiplication tables?"))

for i in range(0,11):
    print(i*n)

print('That is the muliplication tabel for ',n)

What number should I use to make multiplication tables? 9

0
9
18
27
36
45
54
63
72
81
90
That is the muliplication tabel for  9

In [5]:
list1 = [12,15,32,42,55,75,122,132,150, 180,200]

for i in list1:
    if i > 150:
        break
    if i % 5 == 0:
        print(i)

15
55
75
150

In [6]:
n = 100009999999999999999998888888888888888888888888888888
res=0
while n>1:
    n= n//10
    res+=1
    
print("There are",res," places in this number.")

There are 53  places in this number.

In [7]:
n=5

for i in range(n+1,1,-1):
    for j in range(1, i):
        print(j, end=' ')
    print("")

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [8]:
list1 = [10,20,30,40,50]
length=len(list1)

for i in range(0,length):
    print (list1[-i-1])

50
40
30
20
10

In [9]:
length

5

In [10]:
for i in range(-10,0, 1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [11]:
for i in range(5):
    print(i)
print("done!")

0
1
2
3
4
done!

In [12]:
start= 8
end=42



for num in range(start,end+1):
    if num > 1:
        for i in range(2,num):
            if (num % i) == 0:
                break
        else:
            print(num)

11
13
17
19
23
29
31
37
41

In [13]:
num1,num2 = 0,1
for i in range(0,10):
    print(num1, end=' ')
    temp =num1+num2
    num1=num2
    num2=temp

0 1 1 2 3 5 8 13 21 34

In [21]:
n=5
res = 1

for i in range(1,n+1):
    res = i*res
    print(res)

1
2
6
24
120

In [24]:
num = 76542
reverse_number = 0
print("Given Number ", num)
while num > 0:
    reminder = num % 10
    reverse_number = (reverse_number * 10) + reminder
    num = num // 10
print("Revered Number ", reverse_number)

Given Number  76542
Revered Number  24567

In [34]:
num_of_terms=5
start_n=2
total_num=0

for i in range(0,num_of_terms):
    total_num += start_n
    start_n =(start_n * 10)+2
print(total_num)

24690

In [35]:
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*