In [1]:
str1 ="JohnDipeta"
str2="JaSonAy"

In [2]:
def mid_3_char(target):
    tgt_length= len(target)//2
    print (tgt_length)
    tgt1 = tgt_length-1
    tgt2= tgt_length+2
    return (target[tgt1:tgt2:])

In [3]:
mid_3_char(str1)

5

'Dip'

In [4]:
mid_3_char(str2)

3

'Son'

In [5]:
s1 = "Ault"
s2 = "Kelly"

In [6]:
def new_string(string1, string2):
    input_loc = len(string1)//2
    ns = string1[:input_loc]+string2+string1[input_loc:]
    return ns

## new_string(s1,s2)

In [7]:
s1 = "Amercia"
s2 = "Japan"

In [8]:
def new_string2(string1, string2):
    find_mid1 = int(len(string1)/2)
    find_mid2 = int(len(string2)/2)
    r1 = string1[0]
    r2 = string1[find_mid1:(find_mid1+1)]
    r3 = string1 [-1]
    r4 = string2[0]
    r5 = string2[find_mid2:(find_mid2+1)]
    r6 = string2 [-1]
    return r1+r4+r2+r5+r3+r6

In [9]:
new_string2(s1,s2)

'AJrpan'

In [10]:
str1 = 'PyNaTive'

In [11]:
lower=[]
upper = []
for char in str1:
    if char.islower():
        lower.append(char)
    else:
        upper.append(char)
sorted_string = ''.join(lower+upper)
print(sorted_string)

yaivePNT

In [12]:
str1= 'P@#yn26at^&i5ve'

In [13]:
def find_char_dig_sym_count (string1):

    charCount = 0
    digitCount = 0
    symbolCount = 0

    for char in string1:
        if char.islower() or char.isupper():
            charCount+=1
        elif char.isnumeric():
            digitCount+=1
        else:
            symbolCount+=1

    print('Chars =', charCount,' Digits =', digitCount, 'Symbols = ', symbolCount)

In [14]:
find_char_dig_sym_count(str1)

Chars = 8  Digits = 3 Symbols =  4

In [15]:
s1 = "Abc"
s2 = "Xyz"

In [16]:
new_string = s1[0]+s2[-1]+s1[1]+s2[-2]+s1[2:]+s2[:-2]
print(new_string)

AzbycX

In [17]:
def s1_in_s2 (s1, s2):
    flag = True
    for i in s1:
        if i in s2:
            continue
        else:
            flag = False
    return flag

In [18]:
s1_in_s2('Yn', "PYnative")

True

In [19]:
s1_in_s2('Ynf', "PYnative")

False

In [20]:
str1 = "Welcome to the USA, usa awsome, isn't it?"

In [21]:
tempstring = str1.lower()
sub = 'USA'
countusa = tempstring.count(sub.lower())


print("USA count is ", countusa)

USA count is  2

In [22]:
str1 = "English = 78 Science = 83 Math =69 History = 65"

In [23]:
import re

marklist = [int(num) for num in re.findall(r'\b\d+\b', str1)]
totalmarks = 0
for mark in marklist:
    totalmarks+=mark
percentage = totalmarks/len(marklist)
print("Total Mark is: ", totalmarks, "Percentage is ",percentage)

Total Mark is:  295 Percentage is  73.75

In [24]:
# given a string, count all the characters within a string

In [25]:
str1="Apple"

In [26]:
#make a dictionary where each letter is represented by the numbered space in the word.
countDict = dict()
for i in str1:
     countDict[i]=str1.count(i)
print (countDict)

{'A': 1, 'p': 2, 'l': 1, 'e': 1}

In [27]:
str1 = "PYnative"

In [28]:
print(str1[::-1])

evitanYP

In [29]:
str2 = 'Mark Kustelski'

In [30]:
print(str2[::1])

Mark Kustelski

In [31]:
str1 = "Emma is a data scientist who knows Python. Emma works at google."

In [32]:
str2 = str1.lower()
result = str2.rfind("emma")
print(result)

43

In [33]:
str1 = 'Emma-is-a-data-scientist'

In [34]:
sub = str1.split('-')
for s in sub:
    print(s)

Emma
is
a
data
scientist

In [35]:
str_list =["Emma", "Jon", "", "Kelly", None, "Eric", ""]

In [36]:
for i in str_list:
    if (i == None) or (i == ""):
        str_list.remove(i)

In [37]:
print(str_list)

['Emma', 'Jon', 'Kelly', 'Eric']

In [38]:
new_str_list = list(filter(None, str_list))
print(new_str_list)

['Emma', 'Jon', 'Kelly', 'Eric']

In [39]:
str1 = "/*Jon is @develper & musician"
print(str1)

/*Jon is @develper & musician

In [40]:
import re
new_string = re.sub(r'[^\w\s]', '', str1)
print(new_string)

Jon is develper  musician

In [41]:
str1 = 'I am 25 years and 10 months old'

In [42]:
new_string = re.sub(r'[^\d]', '', str1)
print (new_string)

2510

In [43]:
str1 = "Emma25 is Data scientist5- and AI Expert"

In [44]:
#pattern = re.compile(r'/^(?:[02-9]+[a-z]|[a-z]+[02-9])[a-z02-9]*$/i')

#matches = pattern.finditer(str1)
#for match in matches:
#    print(match)

In [45]:
res = []
temp = str1.split()
print(temp)

['Emma25', 'is', 'Data', 'scientist5-', 'and', 'AI', 'Expert']

In [46]:
for item in temp:
    if any (char.isalpha() for char in item) and any (char.isdigit() for char in item):
        res.append(item)
    
for i in res:
    print(i)

Emma25
scientist5-

In [58]:
str1 = '/*Jon is @developer $ musician'

In [51]:
new_string = re.sub(r'[^\w\s]', '#', str1)


print(new_string)

##Jon is #developer # musician

In [53]:
#or.....

In [59]:
from string import punctuation
replace_char = '#'

for char in punctuation:
    str1 = str1.replace(char, replace_char)

print(str1)

##Jon is #developer # musician